################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/node_modules
/target
/files
/products
/upload
/.idea
/common/modules/loopback-graphql/src/
/server/boot/01-generateschema
